.testimonial {
  min-height: 100vh;
  position: relative;

  &__avatar-container {
    height: 375px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../images/pattern-bg.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: $bp-desktop) {
      width: 697px;
      height: 100vh;
      background-size: unset;

      position: absolute;
      right: 5rem;
    }
  }

  &__avatar {
    width: 70%;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem -2rem rgba(blue, .25);

    @media screen and (min-width: $bp-desktop) {
      width: unset;
      box-shadow: 0 5rem 10rem -5rem rgba(blue, .25);
    }
  }

  &__content-container {
    height: 320px;
    background-image: 
      url("../images/pattern-quotes.svg"),
      url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: top center, left bottom;
    background-size: 15%, contain;

    padding: 2.5rem 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      width: 650px;
      height: 550px;
      background-size: unset;
      padding: 6rem 0 0;
      align-items: flex-start;
      position: absolute;
      bottom: 0;
    }
  }

  &__description {
    font-weight: 300;
    text-align: center;
    line-height: 1.4;

    @media screen and (min-width: $bp-desktop) {
      position: relative;
      left: 20rem;
      text-align: unset;
    }
  }

  &__name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2rem;

    @media screen and (min-width: $bp-desktop) {
      display: unset;
      position: relative;
      left: 20rem;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__position {
    font-weight: 500;
    color: $grayish-blue;
  }
}